@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

html {
  scroll-behavior: smooth;
}

.base-Menu-root {
  left: -10px !important;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.support-button {
  background: #f7d65a;
  -webkit-mask: url("https://raw.githubusercontent.com/robin-dela/css-mask-animation/master/img/urban-sprite.png");
  mask: url("https://raw.githubusercontent.com/robin-dela/css-mask-animation/master/img/urban-sprite.png");
  -webkit-mask-size: 2300% 100%;
  mask-size: 3000% 100%;
  border: none;
  color: #1b2be0;

  cursor: pointer;
  -webkit-animation: ani2 0.7s steps(29) forwards;
  animation: ani2 0.7s steps(29) forwards;
}

.support-button:hover {
  -webkit-animation: ani 0.7s steps(29) forwards;
  animation: ani 0.7s steps(29) forwards;
}

.button-container-2 {
  position: relative;
  width: 140px;
  text-align: center;
  overflow: hidden;
  transition: 0.5s;
}

.mask {
  position: absolute;
  color: #f7d65a;
  background-color: #1b2be0;
  text-align: center;
  overflow: hidden;
}

.copy-btn {
  font-size: 15px;
  font-weight: 600;
  background: #1b2be0;
  color: #f7d65a;
  border: 0.25rem solid #1b2be0;
  position: relative;
  z-index: 1;
  overflow: hidden;
}
button:hover {
  color: #1b2be0;
}

.copy-btn::after {
  transition: all 0.3s ease;
}
.copy-btn:hover::after {
  transition: all 0.3s ease-out;
}
.copy-btn::after {
  content: "";
  background: #f7d65a;
  position: absolute;
  z-index: -1;
  display: block;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  transform: scale(0, 0);
}
.copy-btn:hover::after {
  transform: scale(1, 1);
}

@media screen and (min-width: 640px) {
  .button-container-2 {
    width: 200px;
  }

  .copy-btn {
    font-size: 18px;
  }
}

@media screen and (min-width: 768px) {
  .button-container-2 {
    width: 150px;
  }
}

@media screen and (min-width: 1024px) {
  .button-container-2 {
    width: 250px;
  }
}

@-webkit-keyframes ani {
  from {
    -webkit-mask-position: 0 0;
    mask-position: 0 0;
  }

  to {
    -webkit-mask-position: 100% 0;
    mask-position: 100% 0;
  }
}

@keyframes ani {
  from {
    -webkit-mask-position: 0 0;
    mask-position: 0 0;
  }

  to {
    -webkit-mask-position: 100% 0;
    mask-position: 100% 0;
  }
}

@-webkit-keyframes ani2 {
  from {
    -webkit-mask-position: 100% 0;
    mask-position: 100% 0;
  }

  to {
    -webkit-mask-position: 0 0;
    mask-position: 0 0;
  }
}

@keyframes ani2 {
  from {
    -webkit-mask-position: 100% 0;
    mask-position: 100% 0;
  }

  to {
    -webkit-mask-position: 0 0;
    mask-position: 0 0;
  }
}
